body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task-form {
    display: flex;
    margin-bottom: 20px;
}

.task-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.task-form button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.task-form button:hover {
    background-color: #0056b3;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    background-color: green;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.task-list li:last-child {
    margin-bottom: 0;
}